.dashboardCard {
    width: 70%;
    min-height: 250px;
}

#bulletin-text {
    color: white;
    font-size: 16px;
}

#card-bulletin {
    background-color: #5885AF !important;
    color: white;
    box-shadow: 5px 5px 5px #777777;
}

.card-subtitle {
    color: white;
}