#main-content-howTo {
    background-color: #e6eaeb;
}

#howToInfo {
    flex-direction: column;
    color: white;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif !important;
    background-color: #41729F !important;
    padding: 5%;
    line-height: 1.9em;
    box-shadow: 0 0 10px #777777;
}

#heading {
    font-size: 48px !important;
    font-family: 'Roboto', Arial, sans-serif !important;
    font-weight: 600;
}

.sub-heading {
    font-family: 'Roboto', Arial, sans-serif !important;
    font-weight: 600;
}

.tab-text {
    text-indent:40px 
}