.content {
    margin: 0 auto;
    max-width: 800px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    min-height: 800px;
}

.modal {
    height: 200px !important;
    position: fixed !important; /* or absolute */
    top: 40% !important;
    left: 20% !important;
}

.fc-title {
    color: black;
}

#missing-data {
    margin-top: 10px;
    display: none;
    color: black;
    background-color: yellow;
    width: 50%;
}

#no-results {
    margin-top: 10px;
    display: none;
    width: 50%;
}

#footer-cont {
    
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #274472;
    color: white;
}

#main-content {
    background-color: #e6eaeb;
}

#heading-main-inquiry {
    margin-top: 50px;
    color: black;
}

label {
    color: black;
}

#search-btn {
    width: 30%;
}

#search-form-inputs {
    display: flex;
    flex-direction: column;
}

#guest-name-lebel {
    padding-top: 50px;
}

#id-label {
    padding-top: 50px;
    padding-bottom: 40px;
}

.table-wrapper {
    overflow: auto;
    max-width: 100%;
    background:
      linear-gradient(to right, white 30%, rgba(255,255,255,0)),
      linear-gradient(to right, rgba(255,255,255,0), white 70%) 0 100%,
      radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
      radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
    background-position: 0 0, 100%, 0 0, 100%;
    background-attachment: local, local, scroll, scroll;
    margin-top: 20px;
  }

  tr {
    border-bottom: 1px solid;
  }
  
  th {
    background-color: #555;
    color: #fff;
    white-space: nowrap;
  }
  
  th,
  td {
    text-align: left;
    padding: 0.5em 1em;
  }

 #inq-form {
     background-color: white;
     padding-left: 10%;
     padding-bottom: 40px;
     box-shadow: 0 0 10px #777777;
 }