.content {
    margin: 0 auto;
    max-width: 800px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    min-height: 800px;
}

.modal {
    height: 200px !important;
    position: fixed !important; /* or absolute */
    top: 40% !important;
    left: 20% !important;
}

.fc-title {
    color: black;
}

#missing-data {
    display: none;
}

#footer-cont {
    
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #274472;
    color: white;
    /* position: fixed; */
    /* margin-bottom: 0; */

}

#main-content {
    background-color: #C3E0E5;
}