#ch-details, #missing-data {
    display: none;
}

#missing-data {
    margin-right: 7%;
}

#add-form {
    color: black; 
}

#main-add-form-cont {
    width: 100%;
}

legend {
    font-weight: 700;
}

label {
    font-weight: 400;
}

.required-input {
    font-weight: 700;
}

.dob-field {
    margin-right: 10px;
}

.dob-datepicker {
    background-color: white;
}

.id-type-input {
    margin-left: 10px;
    margin-right: 36%;
}

select {
    margin-left: 10px !important;
}

.textbox-description {
    width: 100%;
}

.new-list-input-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#dob-label-input {
    margin-right: 31%;
}

.fieldset-add-form {
    margin-right: 10%;
}

.legend-form {
    margin-left: 20%;
    margin-bottom: 30px;
}

#payment-type-label {
    margin-right: 39%;
    margin-bottom: 40px;
}

#ch-dob-label {
    margin-right: 31%;
}

#reason-input-label {
    margin-right: 31%;
}

#form-sub-btn {
    margin-right: 40%;
}