#main-content-usefulInfo {
    background-color: #e6eaeb;
}

#usefulinfo {
    flex-direction: column;
    color: black;
    margin-bottom: 20px;
    background-color: white;
    padding: 5%;
    box-shadow: 0 0 10px #777777;
}

.subheading {
    text-decoration: underline;
    font-weight: bold;
}

#list-useful-info {
    list-style-type: disc;
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif !important;
}

#list-useful-info li {
    margin-bottom: 20px;
    line-height: 1.9em;
}