#main-content-usefulInfo {
    background-color: #C3E0E5;
}

#usefulinfo {
    flex-direction: column;
    color: black;
    margin-bottom: 20px;
}

.subheading {
    text-decoration: underline;
    font-weight: bold;
}