.card-title {
    color: blue;
}

#footer-container {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #274472;
    color: white;
}

#content {
    padding-left: 20%;
    padding-right: 20%;
    background-color: #C3E0E5;
    color:  #274472;
    font-weight: 700;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
