#container {
    margin-top: 40px;
    background-color: #5885AF !important;
    height: 600px;
    color: white;
    border-radius: 25px !important;
    box-shadow: 5px 5px 5px #777777;
}

h1 {
    color: white !important;
}

#incorrect-div {
    display: none;
}

#login-fm, #email-txt, #pwd-text {
    color: white !important;
}