.navbar {
    background-color: #e6eaeb;
}

.btn {
    background-color: #EFEFEF !important;
    color: black !important;
}

#navbar-top {
    background-color: #274472 !important;
    margin-bottom: 20px;
}



